<p-toast />
@if (isLoading) {
<div class="spinner-overlay">
  <p-progressSpinner strokeWidth="4" animationDuration=".5s" aria-label="Loading"></p-progressSpinner>
</div>
}

<div class="min-h-screen bg-slate-100">
  <main class="flex min-h-[calc(100vh-88px)] items-center justify-center px-4 py-10">
    <div class="w-full max-w-md rounded-2xl bg-white p-6 shadow-xl sm:p-8">
      <form [formGroup]="form" (ngSubmit)="onLogin()" class="space-y-6">
        <div>
          <label for="username" class="mb-2 block text-lg font-medium text-slate-800">
            User
          </label>
          <input id="username" type="text" pInputText formControlName="username" name="username" autocomplete="username"
            class="w-full !bg-white !text-slate-900 !border !border-slate-400 !shadow-none" [ngClass]="{
            '!border-red-500': form.get('username')?.invalid && form.get('username')?.touched,
            '!border-slate-400': !(form.get('username')?.invalid && form.get('username')?.touched)}" />
          @if (form.get('username')?.invalid && form.get('username')?.touched) {
          <small class="mt-1 block text-red-500">
            กรุณากรอกชื่อผู้ใช้
          </small>
          }
        </div>

        <div>
          <label for="password" class="mb-2 block text-lg font-medium text-slate-800">
            Password
          </label>
          <p-password inputId="password" formControlName="password" name="password" [feedback]="false"
            [toggleMask]="true" autocomplete="current-password" styleClass="w-full"
            inputStyleClass="w-full !bg-white !text-slate-900 !border !border-slate-400 !shadow-none" [inputStyleClass]="form.get('password')?.invalid && form.get('password')?.touched
            ? 'w-full !bg-white !text-slate-900 !border !border-red-500 !shadow-none'
            : 'w-full !bg-white !text-slate-900 !border !border-slate-400 !shadow-none'">
          </p-password>
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <small class="mt-1 block text-red-500">
            กรุณากรอกรหัสผ่าน
          </small>
          }

        </div>

        <p-button label="ลงชื่อเข้าใช้งาน" styleClass="w-full mb-2" (click)="onLogin()">
        </p-button>

        <div class="text-center">
          <a href="register" class="text-base font-semibold text-blue-600 underline">
            สมัครสมาชิก
          </a>
        </div>
      </form>
    </div>
  </main>
</div>