/* :host ::ng-deep input:-webkit-autofill,
:host ::ng-deep input:-webkit-autofill:hover,
:host ::ng-deep input:-webkit-autofill:focus,
:host ::ng-deep input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #0f172a !important;
  caret-color: #0f172a !important;
  border: 1px solid #94a3b8 !important;
  transition: background-color 9999s ease-in-out 0s;
}

:host ::ng-deep .p-password input:-webkit-autofill,
:host ::ng-deep .p-password input:-webkit-autofill:hover,
:host ::ng-deep .p-password input:-webkit-autofill:focus,
:host ::ng-deep .p-password input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #0f172a !important;
  caret-color: #0f172a !important;
} */